.header {
    background-color: #000000; 
    color: white;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding-right: 22px;
}


.navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #a30000;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #a30000; 
    border-radius: 6px;
    transition: all 0.3s;
}

.navLink:hover {
    background-color: #a30000; 
    color: #ffd700;
}

.welcome {
    margin-right: 10px;
    font-style: italic;
    color: #ddd;
}

.logoutButton {
    background-color: #a30000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
   
}

.logoutButton:hover {
    background-color: #ff0000;
  
}